/*Untuk bagian tengah*/
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h1 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
    margin-left: 120px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: yellow;
    text-decoration: none;
    font-family: 'comic sans ms';
}

.tengah {
    text-align: center;
    width: 100%;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    margin-left: 120px;
    margin-right: 90px;
}

.img-kanan{
    width: 40%;
    height: 50%;
    display: block;
    margin-top: 40px;
    margin-right: 80px;
    float: right;
}
.img-kiri{
    width: 40%;
    height: 90%;
    display: block;
    margin-top: 10px;
    margin-left: 100px;
    float: left;
}